body {
  padding: 0;
  margin: 0;
}

.space {
  width: 300px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .potato {
    color: #27e10e;
  }
}
